/* Commmon Class for Easy Strucure */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



h1 {
    font-size: 40px;
    color: #ffffff;
}
h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 25px;
    padding-bottom: 10px;
}
h5 {
    font-size: 16px;
    padding-bottom: 20px;
}

p {
    font-size: 16px;
    color: #686868;
    padding-bottom: 20px;
}

.common {
    background-color: #8bb7a2;
    padding: 10px 30px;
    color: #ffffff;
    font-size: 16px;
    border: none;
}






/* header */

header {
    padding: 0px 10%;
    background-color: #636c79;
}
header p {
    color: #c2c2c2;
}

nav , .hero {

    padding-top: 50px;
    gap: 30px;
    padding-bottom: 50px;
    
}

.nav-content {
    gap: 30px;
    color: white;
}


.nav-button {
    background: transparent;
    padding: 10px 30px;
    color: #ffffff;
    border: 0.5px solid white;

}

.nav-content h5 {
    padding-bottom: 0%;
}

.team-meeting {
    background-position: center;
    object-fit: cover;
    height: 400px;
    width: 300px;
    /* margin-right: 50px; */
}

.hero-description {
    width: 450px;

}

.email-box {
    padding: 5px 5px 5px 10px;
    width: 450px;
    background-color: #fff;
    border: none;
}

.email-box input {
    border: none;
}


/* Service Section */

.service {
    padding: 50px 10% ;
}

.service-image {
    background-position: center;
    width: 100%;
    object-fit: cover;
    margin-top: 30px;

}


.service-item {
    gap: 50px;
    flex-wrap: wrap-reverse;
    margin-bottom: 60px;
}


.item-card {
    width: 35vw;
}

.img-item {
    height: 400px;
    width: 35vw; 
    background-color: #686868;
    background-position: center;
    object-fit: cover;
    object-position: center;
    margin-bottom: 50px;
}






/* team section */

.team {
    padding: 50px 10% ;
}

.team-intro {
    margin-bottom: 40px;
    align-items: flex-start;
}
.team-intro.flex > * {
    flex: 1

}

.team-img {
    height: 350px;
    width: 250px;
    object-fit: cover;
    object-position: top;
}


.team-cards {
    gap: 10px;
    padding-bottom: 40px;
}

.team > button {
    display: grid;
    margin: auto; 
}

.team-card-item {
    width: 250px
}

/* footer */


footer {
    background-color: #1b1b21;
    color: #fff;
    padding: 50px 10% ;
}

.footer-logo {
    padding: 30px 0px;
    border-bottom: 1px solid rgb(105, 105, 105);
    gap: 20px;
}

.footer-menu {
    padding: 40px 0px;
    gap: 50px;
}


@media screen and (max-width: 768px){
    .team-meeting {
        height: 100%;
        width: 100%;
    }

    .hero-description {
        height: 100%;
        width: 100%;
    }

    .email-box {
        align-items: flex-start;
        width: 80%;
        flex-wrap: nowrap;
    }

    .email-box input {
        width: 100px;
    }

    .team-img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    .team-card-item {
        width: 250px;
    }

    .img-item {
        width: 100%;
    }

    .item-card {
        width: 100%;
    }
}